.wrapper {
	display: inline-flex;
	padding: 0.156vw 0.469vw;
	justify-content: center;
	align-items: center;
	gap: 0.521vw;
	border-radius: 26.042vw;

	> h2 {
		height: 0.99vw;
		text-align: right;
		font-size: 0.833vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
}
