.container {
	display: flex;
	justify-content: space-between;
	width: 48.333vw;

	> h1 {
		color: #7b778b;
		font-family: 'Gilroy-Semibold';
		font-size: 1.094vw;
		font-style: normal;
		line-height: normal;
	}
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 1.042vw;
	}
}
