@import '@/assets/styles/variables';

.div {
	display: inline-flex;
	height: 0.99vw;
	padding: 0.156vw 0.573vw;
	justify-content: center;
	align-items: center;
	gap: 0.26vw;
	border-radius: 26.042vw;
	border: 0.078vw solid $orange;
	background: #fdecdb;

	> h2 {
		height: 0.938vw;
		color: $orange;
		font-size: 0.781vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	> img {
		width: 1.146vw;
		height: 0.878vw;
	}
}

.finish {
	display: inline-flex;
	height: 0.99vw;
	padding: 0.156vw 0.573vw;
	justify-content: center;
	align-items: center;
	gap: 0.521vw;
	flex-shrink: 0;
	border-radius: 26.042vw;
	border: 0.052vw solid #93ed00;
	background: #f6ffe0;

	> h2 {
		height: 0.938vw;
		color: #93ed00;
		font-size: 0.781vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
}

.waiting {
	display: flex;
	height: 0.99vw;
	padding: 0.156vw 0.573vw;
	justify-content: center;
	align-items: center;
	gap: 0.521vw;
	border-radius: 26.042vw;
	border: 0.052vw solid $orange;
	background: #fdecdb;

	> h2 {
		height: 0.938vw;
		color: $orange;
		font-size: 0.781vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
}
