.essay {
	margin-left: 0.104vw;
	margin-right: 0.157vw;
}
.icons {
	width: 1.25vw;
	height: 1.25vw;
}
.wrapper {
	margin-top: 0.625vw;

	> ul {
		display: flex;
		flex-direction: column;
		gap: 0.26vw;
	}
}
.map {
	margin-right: 0.279vw;
}
.message {
	margin-right: 0.076vw;
}
.materials {
	margin-right: 0.083vw;
}
.active {
	background: #f2f3f3 !important;
}
.active_name {
	color: black !important;
}
.arrow_active {
	opacity: 1 !important;
}
.is_active {
	background-color: #8957fb;
}
.menu_segment {
	width: 0.472vw;
	height: 0.472vw;
	background-color: rgba(118, 60, 252, 0.85);
	clip-path: polygon(
		0.10179218749999999vw 0.472665625vw,
		0.3699927083333333vw 0.472665625vw,
		0.3699927083333333vw 0.472665625vw,
		0.3891898869791667vw 0.47167821197916665vw,
		0.4064115125vw 0.46869650833333326vw,
		0.4216469380208333vw 0.46369131718750006vw,
		0.4348855166666667vw 0.45663344166666664vw,
		0.44611660156250005vw 0.4474936848958333vw,
		0.4553295458333333vw 0.43624285vw,
		0.4625137026041667vw 0.4228517401041667vw,
		0.467658425vw 0.40729115833333335vw,
		0.4707530661458333vw 0.38953190781249997vw,
		0.4717869791666667vw 0.36954479166666665vw,
		0.4717869791666667vw 0.10444270833333334vw,
		0.4717869791666667vw 0.10444270833333334vw,
		0.4707530661458333vw 0.08445549373958333vw,
		0.467658425vw 0.06669621908333334vw,
		0.4625137026041667vw 0.051135672427083334vw,
		0.4553295458333333vw 0.037744641833333335vw,
		0.44611660156250005vw 0.026493915364583336vw,
		0.4348855166666667vw 0.017354281083333332vw,
		0.4216469380208333vw 0.010296527052083334vw,
		0.4064115125vw 0.005291441333333333vw,
		0.3891898869791667vw 0.002309811989583333vw,
		0.3699927083333333vw 0.0013224270833333332vw,
		0.10179218749999999vw 0.0013224270833333332vw,
		0.10179218749999999vw 0.0013224270833333332vw,
		0.08259507984375vw 0.002309811989583333vw,
		0.06537362vw 0.005291441333333333vw,
		0.05013843078125vw 0.010296527052083334vw,
		0.036900135vw 0.017354281083333332vw,
		0.02566935546875vw 0.026493915364583336vw,
		0.016456714999999997vw 0.037744641833333335vw,
		0.00927283640625vw 0.051135672427083334vw,
		0.0041283425vw 0.06669621908333334vw,
		0.00103385609375vw 0.08445549373958333vw,
		1.2765082930697917e-15vw 0.10444270833333334vw,
		0vw 0.36954479166666665vw,
		0vw 0.36954479166666665vw,
		0.00103385609375vw 0.38953190781249997vw,
		0.0041283425vw 0.40729115833333335vw,
		0.00927283640625vw 0.4228517401041667vw,
		0.016456714999999997vw 0.43624285vw,
		0.02566935546875vw 0.4474936848958333vw,
		0.036900135vw 0.45663344166666664vw,
		0.05013843078125vw 0.46369131718750006vw,
		0.06537362vw 0.46869650833333326vw,
		0.08259507984375vw 0.47167821197916665vw,
		0.10179218749999999vw 0.472665625vw
	);
}
.menu_icon {
	width: 1.057vw;
	height: 1.041vw;
	margin-left: 0.156vw;
	margin-right: 0.245vw;
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: space-evenly;
}
.tests {
	margin-left: 0.156vw;
	margin-right: 0.284vw;
}
