$lite-gray: #f4f4f4;
$orange: #eb5931;
$green-y: #d3f782;
$gray: #7b778b;
$purple: #bfb4ef;
$dark-green: #034852;
$border-color: #adadad;
$medium-gray: #767676;
$gray-line: #d9d9d9;
$gray-text: #2e3339;
